In [4]:
import pandas as pd

filename = "housing.csv"
df = pd.read_csv(filename)
print("DataFrame loaded successfully!")

DataFrame loaded successfully!

In [5]:
print("Column Information:")
df.info()

Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13549 entries, 0 to 13548
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           13549 non-null  object
 1   area           13549 non-null  object
 2   average_price  13549 non-null  int64
 3   code           13549 non-null  object
 4   houses_sold    13455 non-null  float64
 5   no_of_crimes   7439 non-null   float64
 6   borough_flag   13549 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 741.1+ KB

In [6]:
print(df.describe)

<bound method NDFrame.describe of              date            area  average_price       code  houses_sold  \
0      1995-01-01  city of london          91449  E09000001         17.0
1      1995-02-01  city of london          82203  E09000001          7.0
2      1995-03-01  city of london          79121  E09000001         14.0
3      1995-04-01  city of london          77101  E09000001          7.0
4      1995-05-01  city of london          84409  E09000001         10.0
...           ...             ...            ...        ...          ...
13544  2019-09-01         england         249942  E92000001      64605.0
13545  2019-10-01         england         249376  E92000001      68677.0
13546  2019-11-01         england         248515  E92000001      67814.0
13547  2019-12-01         england         250410  E92000001          NaN
13548  2020-01-01         england         247355  E92000001          NaN

       no_of_crimes  borough_flag
0               NaN             1
1               NaN             1
2               NaN             1
3               NaN             1
4               NaN             1
...             ...           ...
13544           NaN             0
13545           NaN             0
13546           NaN             0
13547           NaN             0
13548           NaN             0

[13549 rows x 7 columns]>

In [8]:
# Display the count of unique labels for the "houses_sold" column
if "houses_sold" in df.columns:
    print("Unique Labels Count for 'houses_sold':")
    print(df["houses_sold"].value_counts())
else:
    print("'houses_sold' column is not found in the dataset.")

Unique Labels Count for 'houses_sold':
houses_sold
233.0      44
248.0      41
274.0      41
303.0      41
249.0      40
           ..
10652.0     1
9632.0      1
9330.0      1
10893.0     1
67814.0     1
Name: count, Length: 3946, dtype: int64

In [9]:
print("Columns with Missing Values:")
missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print(missing_columns)

Columns with Missing Values:
houses_sold       94
no_of_crimes    6110
dtype: int64